:root {
  --primary-color: #393280; /* Azul */
  --secondary-color: #ed553b; /* Laranja */
  --light-background: #ecf0f1; /* Cor de fundo clara */
  --white-color: #fff; /* Branco */
  --gray-color: #7f8c8d; /* Cinza */
  --dark-gray: #393280; /* Cor escura */
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-background);
}

.content {
  background-color: var(--white-color);
  border-radius: 15px;
  width: 960px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  left: 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: var(--white-color);
}

.title-second {
  color: var(--primary-color);
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.description-primary {
  color: var(--white-color);
}

.description-second {
  color: var(--secondary-color);
  font-weight: 500;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 10px;
  padding: 10px 35px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid var(--white-color);
  transition: background-color 0.5s;
}

.btn-primary:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.btn-second {
  background-color: var(--primary-color);
  border: 1px solid transparent;
  transition: background-color 0.5s;
}

.btn-second:hover {
  background-color: var(--secondary-color);
  border: 1px solid transparent;
  color: var(--white-color);
}

.first-content {
  display: flex;
  box-shadow: 1px 4px 8px 4px rgba(0, 0, 255, 0.2);
}

.first-content .second-column {
  z-index: 11;
}

.first-column {
  display: flex;
  text-align: center;
  width: 40%;
  height: 50%;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
}

.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 18px;
}

.form input {
  height: 45px;
  width: 100%;
  border: 1px solid rgba(57, 50, 128, 0.5);
  border-radius: 8px;
  background-color: var(--light-background);
  color: var(--primary-color);
  padding: 8px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--light-background) inset !important;
  -webkit-text-fill-color: #000 !important;
}

.label-input {
  background-color: var(--light-background);
  display: flex;
  align-items: center;
  margin: 8px;
}

.icon-modify {
  color: var(--gray-color);
  padding: 0 5px;
}

/* second content */
.second-content {
  position: absolute;
  display: flex;
}

.second-content .first-column {
  order: 2;
  z-index: -1;
}

.second-content .second-column {
  order: 1;
  z-index: -1;
}

.password {
  color: var(--primary-color);
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
}

.password::first-letter {
  text-transform: capitalize;
}

.sign-in-js .first-content .first-column {
  z-index: -1;
}

.sign-in-js .second-content .second-column {
  z-index: 11;
}

.sign-in-js .second-content .first-column {
  z-index: 13;
}

.sign-in-js .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.3s linear;
  z-index: 12;
}

.sign-up-js .content::before {
  animation: slideout 1.3s linear;
  z-index: 12;
  background-color: var(--primary-color);
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
  z-index: -1;
}

.sign-up-js .first-content .second-column {
  z-index: 11;
}

.sign-up-js .first-content .first-column {
  z-index: 13;
}

/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE */
.sign-in-js .first-content .second-column {
  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 1.3s linear;
}

.sign-up-js .second-content .second-column {
  position: relative;
  z-index: -1;
  animation: deslocamentoDir 1.3s linear;
}

/* ANIMAÇÃO CSS PARA O CONTEÚDO */
@keyframes deslocamentoEsq {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: -80px;
    opacity: 0.5;
  }

  50% {
    left: -100px;
    opacity: 0.2;
  }

  to {
    left: -110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoDir {
  from {
    left: 0;
    z-index: 12;
  }

  25% {
    left: 80px;
  }

  50% {
    left: 100px;
  }

  to {
    left: 110px;
    z-index: -1;
  }
}

/* ANIMAÇÃO CSS */
@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 50%;
  }

  to {
    left: 0;
    width: 40%;
  }
}
